/*Index and Landing styles*/

/*Body, Background Clouds*/
body {
	background-color: #B5D5FF;
	width: 100%;
}

.container {
	animation: animatedClouds 25s linear infinite;
	background-image: url(/app/images/cloud2.png);
	background-position: 20px -25px;
	background-repeat: no-repeat;
	width: 100%;
}

@keyframes animatedClouds {
	0% {background-position: -800px -25px}
	100% {background-position: 1400px -50px}
}

/*Main Heading*/
.heading {
	margin-bottom: 1px;
	margin-top: 1px;
}

.heading a {
	color: #FFC8C8;
	display: block;
	font-size: 3em;
	letter-spacing: 3px;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	text-shadow: 3px 1px 3px #6EACDA;
		2px 1px 3px lightyellow;
	word-spacing: 30px;
}

/*Forms, Select menus, Buttons, Text Inputs, Text*/
.convForm {
	background-color: rgba(215, 250, 225, 0.6);
	border-radius: 10px;
	box-shadow:
		2px 1px 3px lightyellow,
		3px 1px 3px #FF8888;
	display: block;
	font-size: 25px;
	margin: 15px auto 25px;
	padding: .7em;
	text-align: center;
	width: 80%;
}

/*Text*/
.instructs {
	color: #777;
	font-family: arial, sans-serif;
	font-weight: 400;
	line-height: 10px;
	margin: 15px 0;
	text-shadow:
		2px 1px 3px lightyellow;
		3px 1px 3px #FF8888;
}

/*Selects*/
.select {
	background-color: rgba(252,227,227,0.8);
	box-shadow: 2px 1px 3px #888;
	color: #777;
	font-family: arial, sans-serif;
	font-size: 18px;
	height: 35px;
	margin-right: 10px;
}

/*Text Inputs*/
.userInput {
	border-radius: 8px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-left: 10px;
}

/*Buttons*/
.btn {
	background: #ffc8c8;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc8c8), to(#ffafaf));
	background: -webkit-linear-gradient(top, #ffc8c8, #ffafaf);
	background: -moz-linear-gradient(top, #ffc8c8, #ffafaf);
	background: -ms-linear-gradient(top, #ffc8c8, #ffafaf);
	background: -o-linear-gradient(top, #ffc8c8, #ffafaf);
	border-top: 1px solid #e2d6fc;
	border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
	box-shadow: 0 1px 0 #777;
		-webkit-box-shadow: rgba(119, 119, 119,1) 0 1px 0;
		-moz-box-shadow: rgba(119, 119, 119, 1) 0 1px 0;
	color: #777;
	font-family: arial, sans-serif;
	font-size: 18px;
	height: 35px;
	text-decoration: none;
	text-shadow: rgba(119, 119, 119,.4) 0 1px 0;
	padding: 5px 10px;
	vertical-align: middle;
}

.btn:focus {
	color: #777;
}

.btn:hover {
	background: #a3f0d4;
	background: -webkit-gradient(linear, left top, left bottom, from(#acf7c0), to(#7ad697));
	background: -webkit-linear-gradient(top, #a3f0d4, #7ad697);
	background: -moz-linear-gradient(top, #a3f0d4, #7ad697);
	background: -ms-linear-gradient(top, #a3f0d4, #7ad697);
	background: -o-linear-gradient(top, #a3f0d4, #7ad697);
	border-top-color: #ffffe0;
	color: #ccc;
}

.btn:active {
	background: #fafa96;
	border-top-color: #ffffe0;
}

.recentbtn {
	display: block;
	height: 40px;
	margin: 10px auto;
}


/*Results Styles---*/
/*Results Text*/
.textDiv {
	background-color: rgba(215, 250, 225, 0.6);
	border-radius: 10px;
	box-shadow:
		2px 1px 3px lightyellow,
		3px 1px 3px #FF8888;
	font-size: 25px;
	margin: 20px auto 25px;
	padding: .7em;
	text-align: center;
	width: 90%;
}

.resultsText {
	color: #777;
	font-family: arial, sans-serif;
	font-size: 28px;
	font-weight: 400;
	margin: 15px 0;
	text-shadow:
		2px 1px 3px lightyellow;
		3px 1px 3px #FF8888;
}
.disclaimer {
	font-size: 18px;
}

.images {
	height: 90vh;
}

/*Structure*/
.structImg {
	float: right;
	padding: 0;
	z-index: -1;
	position: absolute;
	left: 10%;
	height: 95%;
}

/*Person*/
.personImg {
	animation: bounce 2s infinite;
	bottom: 30px;
	position: fixed;
}

@keyframes bounce{
	0% {bottom:45px;}
	30%, 60% {bottom: 75px;}
	50% {bottom: 45px;}
	100% {bottom:30px;}
}

/*Buttons*/
.buttons {
	width: 80%;
	text-align: center;
	margin: 20px auto;
}

.sharebtn {
	height: 40px;
	padding: 5px 10px;
}

/*Recent Conv. Modal Styles*/
.modal-dialog {
	background-color: #B5D5FF;
	border-radius: 10px;
	padding: 10px 5px;
	text-align: center;
	margin: 0 auto;
}

.modalH1 {
	color: #777;
	font-family: arial, sans-serif;
	text-shadow:
		2px 1px 3px lightyellow,
		3px 1px 3px #FF8888;
}

.modalRepeat {
	margin-bottom: 10px;
	padding: 0;
}

.closebtn {
	margin:15px auto;
}
